body {
    display: flex;
    justify-content: center;
    font-family: Georgia, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: white;
    color: black; 
    transition: background-color 0.3s, color 0.3s;
    width: 400px; 
    min-width: 200px; 
    height: auto;
    min-height: 200px; 
    overflow: auto; /* Umożliwia przewijanie */
    border: 2px solid black;
    font-size: 16px;
    /*border-radius: 15px;*/
}

.good-body {
    display: flex;
    justify-content: center;
    font-family: Georgia, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #b4ecba;
    color: black; 
    transition: background-color 0.3s, color 0.3s;
    width: 400px; 
    min-width: 200px; 
    height: auto;
    min-height: 200px; 
    overflow: auto; /* Umożliwia przewijanie */
    border: 2px solid black;
    /*border-radius: 15px;*/
}

.dangerous-body
{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif; 
    font-size: 26px;
    margin: 0;
    padding: 0;
    background-color: #c30303;
    color: rgb(255, 225, 0); 
    width: 600px; /* Zwiększ szerokość */
    min-width: 400px; /* Możesz to zostawić */
    height: auto; /* Ustaw na auto */
    min-height: 200px; /* Ustaw minimalną wysokość */
    overflow: auto; /* Umożliwia przewijanie */
}
.container {
    display: flex;
    flex-direction: column;
    overflow: auto; /* Umożliwia przewijanie */
    align-items: center;
    justify-content: center;
}

#project-name{
    padding: 3px;
    font-size: 18px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dangerous-dark-mode{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif; 
    font-size: 26px;
    margin: 0;
    padding: 0;
    background-color: #561111;
    color: rgb(255, 238, 0); 
    width: 600px; /* Zwiększ szerokość */
    min-width: 400px; /* Możesz to zostawić */
    height: auto; /* Ustaw na auto */
    min-height: 200px; /* Ustaw minimalną wysokość */
    overflow: auto; /* Umożliwia przewijanie */
}

.good-body-mode{
    display: flex;
    justify-content: center;
    font-family: Georgia, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #053d0f;
    color: rgb(207, 194, 194); 
    transition: background-color 0.3s, color 0.3s;
    width: 400px; 
    min-width: 200px; 
    height: auto;
    min-height: 200px; 
    overflow: auto; /* Umożliwia przewijanie */
    border: 2px solid black;
    /*border-radius: 15px;*/
}


.maintext {
    display: inline-flex;
    align-items: center;
}

img
{
    width: 32px;
}

.box {
    margin: 5px; /* Dodanie marginesu dla lepszego wyglądu */
}
   
#zoom-in, #reduce, #resetZoom {
    background-color: rgb(197, 173, 230); /* Ustawia kolor tła */
    color: rgb(65, 0, 139); /* Ustawia kolor tekstu */
    padding: 2px; /* Dodaje wewnętrzny odstęp */
    border: 2px solid rgb(65, 0, 139); /* Dodaje ramkę */
    border-radius: 5px; /* Zaokrągla rogi */
    width: 20px;
    height: 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    /*font-size: 20px;  Ustawia rozmiar czcionki */
}

.mainbox {
    padding-bottom: 6px;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif; 
   /* font-size: 16px;*/
}

.forumbox {
    padding-bottom: 0px;
    padding-top: 15px;
    align-items: center;
    text-align: center;
}

#check-forum
{
    background-color: #bb86fc;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    color: black; 
    border: 1px solid black;
    border-radius: 3px;
}
